<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lendo-e-Explorando-os-Dados" data-toc-modified-id="Lendo-e-Explorando-os-Dados-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Lendo e Explorando os Dados</a></span></li><li><span><a href="#EDA" data-toc-modified-id="EDA-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>EDA</a></span><ul class="toc-item"><li><span><a href="#Dados-Nulos" data-toc-modified-id="Dados-Nulos-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Dados Nulos</a></span><ul class="toc-item"><li><span><a href="#Atributos-Categóricos" data-toc-modified-id="Atributos-Categóricos-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Atributos Categóricos</a></span></li><li><span><a href="#Atributos-Numéricos" data-toc-modified-id="Atributos-Numéricos-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Atributos Numéricos</a></span></li><li><span><a href="#Conclusão" data-toc-modified-id="Conclusão-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Conclusão</a></span></li><li><span><a href="#Exclusão" data-toc-modified-id="Exclusão-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Exclusão</a></span></li><li><span><a href="#Preenchimento" data-toc-modified-id="Preenchimento-2.1.5"><span class="toc-item-num">2.1.5&nbsp;&nbsp;</span>Preenchimento</a></span></li></ul></li><li><span><a href="#Exploração-Gráfica" data-toc-modified-id="Exploração-Gráfica-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Exploração Gráfica</a></span></li></ul></li><li><span><a href="#Pipeline-de-Preparação" data-toc-modified-id="Pipeline-de-Preparação-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Pipeline de Preparação</a></span></li></ul></div>

Este notebook tem por objetivo alocar o passo a passo do desenvolvimento da minha primeira competição no Kaggle: [Housing Prices - Advanced Regression Techniques](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview).

## Lendo e Explorando os Dados

In [1]:
# Lendo dados
import pandas as pd

df_housing_train = pd.read_csv('train.csv')
df_housing_test = pd.read_csv('test.csv')

In [2]:
# Verificando conteúdo de cada um dos sets
df_housing_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
# Teste
df_housing_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [4]:
# Comunicando dimensões
print(f'Dimensões dos dados de treino: {df_housing_train.shape}')
print(f'Dimensões dos dados de teste: {df_housing_test.shape}')

Dimensões dos dados de treino: (1460, 81)
Dimensões dos dados de teste: (1459, 80)

Percebe-se que o conjunto de dados de designado para teste não possui a coluna **Sales Price**, sendo esta justamente o target de predição do modelo. Vamos então separar o conjunto de teste e trabalhar apenas com o conjunto designado para treino, avaliando dados duplicados, nulos e qualquer outro fator que possa influenciar na criação do modelo.

## EDA

In [5]:
# Quais os nomes dos atributos?
for col in df_housing_train.columns:
    print(col, end=', ')

Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice,

As explicações sobre cada um dos atributos podem ser visualizadas no bloco de notas `data_description.txt` ou então no próprio link da competição no [Kaggle](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview). .

### Dados Nulos

In [6]:
# Verificando dados nulos
null_attribs = []
print(f'Atributos com dados nulos: \n')
for attribute, result in df_housing_train.isnull().any().items():
    if result:
        print(attribute)
        null_attribs.append(attribute)

Atributos com dados nulos:

LotFrontage
Alley
MasVnrType
MasVnrArea
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Electrical
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageQual
GarageCond
PoolQC
Fence
MiscFeature

In [7]:
# Verificando quantidades
null_qtd_list = []
for attrib, null_qtd in df_housing_train.isnull().sum().items():
    if null_qtd > 0:
        print(f'{attrib}: {null_qtd}')
        null_qtd_list.append(null_qtd)

LotFrontage: 259
Alley: 1369
MasVnrType: 8
MasVnrArea: 8
BsmtQual: 37
BsmtCond: 37
BsmtExposure: 38
BsmtFinType1: 37
BsmtFinType2: 38
Electrical: 1
FireplaceQu: 690
GarageType: 81
GarageYrBlt: 81
GarageFinish: 81
GarageQual: 81
GarageCond: 81
PoolQC: 1453
Fence: 1179
MiscFeature: 1406

Existem atributos com poucos dados nulos e existem atributos com muitos dados nulos. No total, temos 80 atributos e 1 target. Claramente, este problema demanda um processo de _feature engineering_ para levantar a importância de cada feature para o modelo _(feature importance)_ e demais dados que possam nos guiar em busca do melhor modelo de Machine Learning. Vamos verificar os tipos primitivos destes atributos com dados nulos.

In [8]:
# Transformando tipos primitivos em dataframe para melhor visualização
import numpy as np
df_dtypes = pd.DataFrame(df_housing_train.dtypes)
df_dtypes.columns=['data_type']

# Indexando novo dataframe apenas com atributos com dados nulos
df_null_info = df_dtypes.loc[null_attribs, :]
df_null_info['qtd_null'] = null_qtd_list
df_null_info

             data_type  qtd_null
LotFrontage    float64       259
Alley           object      1369
MasVnrType      object         8
MasVnrArea     float64         8
BsmtQual        object        37
BsmtCond        object        37
BsmtExposure    object        38
BsmtFinType1    object        37
BsmtFinType2    object        38
Electrical      object         1
FireplaceQu     object       690
GarageType      object        81
GarageYrBlt    float64        81
GarageFinish    object        81
GarageQual      object        81
GarageCond      object        81
PoolQC          object      1453
Fence           object      1179
MiscFeature     object      1406

#### Atributos Categóricos

In [9]:
# Verificando apenas dados nulos do tipo string
df_null_str = df_null_info[df_null_info['data_type']=='object']
df_null_str.sort_values(by='qtd_null', inplace=True)
df_null_str

c:\users\thiagopanini\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

             data_type  qtd_null
Electrical      object         1
MasVnrType      object         8
BsmtQual        object        37
BsmtCond        object        37
BsmtFinType1    object        37
BsmtExposure    object        38
BsmtFinType2    object        38
GarageType      object        81
GarageFinish    object        81
GarageQual      object        81
GarageCond      object        81
FireplaceQu     object       690
Fence           object      1179
Alley           object      1369
MiscFeature     object      1406
PoolQC          object      1453

In [10]:
# Verificando entradas possíveis destes dados
idx = 0
total = df_housing_train.shape[0]
for attrib in df_null_str.index:
    print(f'Atributo: {attrib}')
    print(f'Quantidade nulos: {df_null_str.loc[attrib, ["qtd_null"]][0]}/{total}')
    print()
    print(df_housing_train[attrib].value_counts())
    print()
    idx += 1

Atributo: Electrical
Quantidade nulos: 1/1460

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64

Atributo: MasVnrType
Quantidade nulos: 8/1460

None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64

Atributo: BsmtQual
Quantidade nulos: 37/1460

TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

Atributo: BsmtCond
Quantidade nulos: 37/1460

TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64

Atributo: BsmtFinType1
Quantidade nulos: 37/1460

Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: BsmtFinType1, dtype: int64

Atributo: BsmtExposure
Quantidade nulos: 38/1460

No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64

Atributo: BsmtFinType2
Quantidade nulos: 38/1460

Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64

Atributo: GarageType
Quantidade nulos: 81/1460

Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

Atributo: GarageFinish
Quantidade nulos: 81/1460

Unf    605
RFn    422
Fin    352
Name: GarageFinish, dtype: int64

Atributo: GarageQual
Quantidade nulos: 81/1460

TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: GarageQual, dtype: int64

Atributo: GarageCond
Quantidade nulos: 81/1460

TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: GarageCond, dtype: int64

Atributo: FireplaceQu
Quantidade nulos: 690/1460

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

Atributo: Fence
Quantidade nulos: 1179/1460

MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: int64

Atributo: Alley
Quantidade nulos: 1369/1460

Grvl    50
Pave    41
Name: Alley, dtype: int64

Atributo: MiscFeature
Quantidade nulos: 1406/1460

Shed    49
Othr     2
Gar2     2
TenC     1
Name: MiscFeature, dtype: int64

Atributo: PoolQC
Quantidade nulos: 1453/1460

Gd    3
Ex    2
Fa    2
Name: PoolQC, dtype: int64

#### Atributos Numéricos

In [11]:
# Dados Nulos numéricos
df_null_num = df_null_info[df_null_info['data_type']=='float64']
df_null_num

            data_type  qtd_null
LotFrontage   float64       259
MasVnrArea    float64         8
GarageYrBlt   float64        81

In [12]:
# Verificando informações estatísticas de cada um dos atributos
total = df_housing_train.shape[0]
for num_attrib in df_null_num.index:
    print(f'Atributo: {num_attrib}')
    print(f'Quantidade nulos: {df_null_num.loc[num_attrib, ["qtd_null"]][0]}/{total}')
    print(df_housing_train[num_attrib].describe())
    print()

Atributo: LotFrontage
Quantidade nulos: 259/1460
count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: LotFrontage, dtype: float64

Atributo: MasVnrArea
Quantidade nulos: 8/1460
count    1452.000000
mean      103.685262
std       181.066207
min         0.000000
25%         0.000000
50%         0.000000
75%       166.000000
max      1600.000000
Name: MasVnrArea, dtype: float64

Atributo: GarageYrBlt
Quantidade nulos: 81/1460
count    1379.000000
mean     1978.506164
std        24.689725
min      1900.000000
25%      1961.000000
50%      1980.000000
75%      2002.000000
max      2010.000000
Name: GarageYrBlt, dtype: float64

#### Conclusão

_Conclusão:_
* **Dados Nulos em Atributos Categóricos:**
    * Existem 16 atributos do tipo string com pelo menos 1 dado nulo. Dentro desta quantidade, é possível encontrar atributos com 1 único dado nulo, com 8 dados nulos ou até mesmo com mais de 1.400 dados nulos. Em alguns casos, mesmo nos atributos que apresentam quantidades razoáveis de dados nulos (como 37, por exemplo), é possível visualizar uma lógica de preenchimento relacionada as entradas mais comuns destes atributos categóricos. Assim, um estudo sobre o input destes dados pode ser analisado levando em consideração as entradas mais comuns. Para os atributos com grandes quantidades de dados nulos, acredito que sua exclusão soa como o caminho mais correto.
    

* **Dados Nulos em Atributos Numéricos:**
    * De todos os 19 atributos com pelo menos 1 entrada nulo, apenas 3 são atributos numéricos. Destes 3, um deles refere-se a uma entrada relacionada ao ano de construção da garagem da casa (GarageYrBuilt), sendo impossível seu preenchimento com entradas estatísticas como a média, por exemplo. Mesmo em outras variáveis estatísticas (quartis, moda e mediana) onde é possível retornar números inteiros para o ano, é difícil encontrar uma lógica de preenchimento que seja plausível. Talvez o estudo de preenchimento com a moda ou mediana seja mais coerente. Para preenchimento de dados nulos nos demais atributos numéricos, um estudo estatístico é perfeitamente realizável, não sendo cogitado, a princípio, a exclusão  destes dados.

#### Exclusão

* **Condição 1:** Atributos categóricos cuja entrada de maior frequência é inferior a 2 vezes a segunda entrada de maior frequência `e` com o índice superior a 6% de dados nulos serão `excluídos`.
    * Percentem a condição 1: 
    
        - BsmtQual
        - BsmtFinType1
        - GarageFinish
        - FireplaceQu
        - Fence
        - Alley
        - MiscFeature
        - PoolQC

* **Condição 2:** Atributos categóricos cuja entrada de maior frequência é superior a 2 vezes a segunda entrada de maior frequência `e` com índice inferior a 6% de dados nulos terão estes daods preenchidos com a categoria de `maior frequência`.
    * Pertencem a condição 2:
    
        - Electrical
        - MasVnrType
        - BsmtCond
        - BsmtExposure
        - BsmtFinType2
        - GarageType
        - GarageQual
        - GarageCond

* **Condição 3:** Os atributos numéricos GarageYrBlt e MasVnrArea serão eliminados por critérios estatísticos. Para os demais atributos numéricos que surgirem (LotFrontage e outros), os dados nulos do atributo serão preenchidos com a mediana.

`Futuro:` Após treinar o modelo com esta primeira abordagem, tratar os dados nulos de forma diferenciada, alimentando todos da forma que apresentar a menor perda possível e, posteriormente, analisar a importância de cada uma das features como critérios de exclusão e feature selection.

In [13]:
# Excluindo dados nulos
drop_cols = ['BsmtQual', 'BsmtFinType1', 'GarageFinish', 'FireplaceQu', 
             'Fence', 'Alley', 'MiscFeature', 'PoolQC', 'GarageYrBlt', 'MasVnrArea']
new_train_df = df_housing_train.drop(labels=drop_cols, axis=1)

# Preenchendo dados nulos numéricos
from sklearn.preprocessing import Imputer

imputer = Imputer(strategy='median')
df_num = new_train_df['LotFrontage']
imputer.fit(df_num.values.reshape(-1, 1))
df_imputed = pd.DataFrame(imputer.transform(df_num.values.reshape(-1, 1)), 
                          columns=['LotFrontage'])

# Verificando
df_imputed.isnull().sum()

c:\users\thiagopanini\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

LotFrontage    0
dtype: int64

#### Preenchimento

In [14]:
# Preenchendo dados nulos com entradas mais comuns
most_common_cols = ['Electrical', 'MasVnrType', 'BsmtCond', 'BsmtExposure', 'BsmtFinType2', 
                    'GarageType', 'GarageQual', 'GarageCond']
for col in most_common_cols:
    print(f'{col}: {new_train_df[col].value_counts().index[0]}')

Electrical: SBrkr
MasVnrType: None
BsmtCond: TA
BsmtExposure: No
BsmtFinType2: Unf
GarageType: Attchd
GarageQual: TA
GarageCond: TA

In [128]:
# Criando classe
from sklearn.base import BaseEstimator, TransformerMixin

class FillNAMostCommon(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        null_attribs
        most_common_values = []
        most_common_cols = X.isnull().any()[X.isnull().any().values].index
        #most_common_cols = ['Electrical', 'MasVnrType', 'BsmtCond', 'BsmtExposure', 
                            #'BsmtFinType2', 'GarageType', 'GarageQual', 'GarageCond']
        for col in most_common_cols:
            mc = X[col].value_counts().index[0]
            X[col].fillna(mc, inplace=True)
        
        return X

In [129]:
# Testando
df_teste = new_train_df.copy()
filler = FillNAMostCommon()
new_df = filler.fit_transform(df_teste)
new_df.isnull().any().sum()

0

### Exploração Gráfica

Como temos uma grande quantidade de atributos, vamos reservar a parte gráfica para um segundo momento.

## Pipeline de Preparação

In [130]:
# Separando as features do target
X_train = df_housing_train.iloc[:, 1:-1]
y_train = df_housing_train['SalePrice']

# Verificando X_train
X_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [131]:
# Verificando y_train
y_train[:5]

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [132]:
# Reunindo atributos numéricos e categóricos
num_attribs = []
cat_attribs = []
for k, v in X_train.dtypes.items():
    if v not in ['object']:
        num_attribs.append(k)
    else:
        cat_attribs.append(k)

In [133]:
# Reunindo atributos numéricos e categóricos
num_attribs = [k for k, v in X_train.dtypes.items() if v not in ['object']]
cat_attribs = [k for k, v in X_train.dtypes.items() if v == 'object']

# Verificando
total_attribs = X_train.shape[1]
(len(num_attribs) + len(cat_attribs)) == total_attribs

True

In [134]:
# Indexando dataframes
X_train_num = X_train.loc[:, num_attribs]
X_train_cat = X_train.loc[:, cat_attribs]

In [135]:
# Verificando dados numéricos
X_train_num.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,548,0,61,0,0,0,0,0,2,2008
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,460,298,0,0,0,0,0,0,5,2007
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,608,0,42,0,0,0,0,0,9,2008
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,642,0,35,272,0,0,0,0,2,2006
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,836,192,84,0,0,0,0,0,12,2008

In [136]:
# Verificando dados categóricos
X_train_cat.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1,RL,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
3,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
4,RL,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [137]:
# Deletando dados
class AttrSelection(BaseEstimator, TransformerMixin):
    
    def __init__(self, categorical_attributes=True):
        self.categorical_attributes = categorical_attributes
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        if self.categorical_attributes:
            drop_cols = ['BsmtQual', 'BsmtFinType1', 'GarageFinish', 'FireplaceQu', 
                         'Fence', 'Alley', 'MiscFeature', 'PoolQC']
        else:
            drop_cols = ['GarageYrBlt', 'MasVnrArea']
        X = X.drop(labels=drop_cols, axis=1)
        
        return X

In [138]:
# Selecionando atributos categóricos
cat_attr_selector = AttrSelection()
X_train_cat_selected = cat_attr_selector.transform(X_train_cat)
print(f'Dimensões X_train_cat: {X_train_cat.shape}')
print(f'Dimensões X_train_cat_selected: {X_train_cat_selected.shape}')

Dimensões X_train_cat: (1460, 43)
Dimensões X_train_cat_selected: (1460, 35)

In [139]:
# Selecionando atributos numéricos
num_attr_selector = AttrSelection(categorical_attributes=False)
X_train_num_selected = num_attr_selector.transform(X_train_num)
print(f'Dimensões de X_train_num: {X_train_num.shape}')
print(f'Dimensões de X_train_num_selected: {X_train_num_selected.shape}')

Dimensões de X_train_num: (1460, 36)
Dimensões de X_train_num_selected: (1460, 34)

In [140]:
# Importando bibliotecas
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# Reunindo atributos numéricos e categóricos
num_attribs = []
cat_attribs = []
for k, v in X_train.dtypes.items():
    if v not in ['object']:
        num_attribs.append(k)
    else:
        cat_attribs.append(k)

# Pipeline Numérico
num_pipeline = Pipeline([
    ('num_attr_selector', AttrSelection(categorical_attributes=False)),
    ('imputer', Imputer(strategy='median')),
    ('std_scaler', StandardScaler()),
])

# Pipeline Categórico
cat_pipeline = Pipeline([
    ('cat_attr_selector', AttrSelection()),
    ('filler_most_common', FillNAMostCommon()),
    ('one_hot', OneHotEncoder(sparse=False))
])

# Pipeline Completo
full_pipeline = ColumnTransformer([
    ('num_pipeline', num_pipeline, num_attribs),
    ('cat_pipeline', cat_pipeline, cat_attribs)
])

c:\users\thiagopanini\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [141]:
X_train_prepared = full_pipeline.fit_transform(X_train)

c:\users\thiagopanini\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [142]:
X_train_prepared.shape

(1460, 255)

In [143]:
X_test = df_housing_test
X_test_prepared = full_pipeline.fit_transform(X_test)
X_test_prepared.shape

c:\users\thiagopanini\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

(1459, 239)

In [144]:
X_num_test = X_test.loc[:, num_attribs]
X_num_test_prepared = num_pipeline.fit_transform(X_num_test)
X_num_test_prepared.shape

(1459, 34)

In [145]:
X_cat_test = X_test.loc[:, cat_attribs]
X_cat_test_prepared = cat_pipeline.fit_transform(X_cat_test)